<div class="col-xs-6">
	<div class="module-content-field-header">CHANGE</div>
	<div class="pull-left module-content-field-value">{{header?.}}</div>
</div>
<div class="col-xs-6">
	<div class="module-content-field-header">CHANGE</div>
	<div class="module-content-field-value">{{header?.}}</div>
</div>
<div class="col-xs-6">
	<div class="module-content-field-header">CHANGE</div>
	<div class="module-content-field-value">
		<nw-overflow-tooltip [nwTooltip]="header.<VALUE>">{{header?.}}</nw-overflow-tooltip>
	</div>
</div>
<div class="col-xs-6">
	<div class="module-content-field-header">CHANGE</div>
	<div class="module-content-field-value">{{header?.}}</div>
</div>
